optool
optool.dSYM
optool.egg-info
penmp
blended.lnk
Papers
a.out
*.o
*.mod
dustkap*
dustmean*
output/*
bin/optool*
bin.zip
libcfitsio*
*~
*#
.DS_Store
__pycache__
auto/
*.html
*.tex
*.tex
*.aux
*.log
*.dvi
*.blg
*.bbl
auto
tmp.py
optool.pdf
sizedist.dat
plotsd.py